/*Fonts*/

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open-Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open-Sans-Light";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*** Normalization and common styles ***/
body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "Open-Sans-Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #464646;
}

.categories-list a,
.site-navigation a,
.site-footer a,
.button,
.catalog-page a {
  text-decoration: none;
  color: #000000;
}

.main-page section {
  margin: 0;
  padding: 0;
}

/************** blocks visualisation ********************//*
* {
  outline: 1px;
  outline-color: rgba(0, 0, 255, 0.2);
  outline-style: dashed;
}

*:hover {
  outline-color: red;
  background-color: rgba(255,0,0,0.1);
}
/**********************************************************/

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hide {
  display: none;
}

/*Button*/
.button {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  display: inline-block;
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  height: 26px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  text-transform: uppercase;
  text-align: center;
  outline: none;
  z-index: 2;
  cursor: pointer;
}

.button::after {
  content: "";
  display: block;
  box-sizing: content-box;
  position: relative;
  top: -16px;
  height: 8px;
  width: 100%;
  background-color: #f0c52e;
  transition-duration: 0.2s;
  z-index: -1;
}

.button.auto::after {
  left: -45px;
  padding: 0 45px;
}

.button:hover::after,
.button:focus::after {
  height: 40px;
  top: -32px;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

/*Header*/

.main-header {
  margin: 0;
  color: #000000;
}

.main-header ul,
.breadcrumbs,
.main-page ul,
.main-page ol,
.catalog-page ul,
.site-footer ul {
  list-style: none;
}

.site-navigation {
  background-color: #F7E296;
}

.header-logo:hover,
.header-logo:focus {
  opacity: 0.6;
}

.header-menu {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
}

.header-menu .submenu-item {
  font-family: "Open-Sans-Light", Arial, sans-serif;
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-transform: none;
}

.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation a:hover::before,
.site-navigation a:focus::before {
  color: rgba(0, 0, 0, 0.6);
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.search-block {
  position: relative;
  width: 440px;
}

.search-block::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;

  margin-left: 2px;
  background-image: url("../img/search.svg");
}

.search-label {
  display: block;
  width: 100%;
  background-color: #fff;
}

.search-input {
  box-sizing: border-box;
}

.search-input:focus ~ label,
.search-button:active ~ label {
  position: absolute;
  bottom: 0;
  width: 378px;
  height: 2px;
  background-color: #000000;
  z-index: 2;
}

.site-navigation .search-input {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.3);

  width: 290px;
  padding: 0 20px;
  border: none;

  font-family: "Open-Sans-Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
}

.site-navigation .search-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation .search-input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.site-navigation .search-input:focus {
  color: #000000;
  outline: none;
}

.site-navigation .search-button {
  width: 85px;
  height: 50px;
  display: none;
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
  border: 2px solid #000000;
  font-family: "Open-Sans-Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-transform: none;
}
.search-input:focus ~ button {
  display: inline-block;
}
.site-navigation .search-button:hover,
.site-navigation .search-button:focus {
  background-color: #000000;
  color: #ffffff;
  outline: none;
}

.site-navigation .search-button:active {
  display: inline-block;
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.top-menu-block .login-link a::before,
.top-menu-block .login-profile a::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 12px;
  margin-right: 12px;
  background-image: url("../img/user.svg");
}

.purchase-menu .compare a::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background-image: url("../img/compare.svg");
}

.purchase-menu .cart a::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  background-image: url("../img/cart.svg");
}

.header-menu .main-menu-catalog::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  margin-left: 10px;
  background-image: url("../img/plus.svg");
}

.user-navigation a:hover::before,
.user-navigation a:focus::before,
.purchase-menu a:hover::before,
.purchase-menu a:focus::before {
  opacity: 0.6;
}

.user-navigation a:active::before,
.purchase-menu a:active::before {
  opacity: 0.3;
}

/** Slider **/

.popular-slider .slogan {
  margin: 0;
  padding: 0;
  display: block;
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.01em;
  color: #000000;
}

.popular-slider .slogan::before {
  content: "";
  margin: 0;
  padding: 0;
  display: block;
  width: 100px;
  height: 7px;
  margin-bottom: 35px;
  background-color: #FFFFFF;
}

.popular-slider .description {
  font-family: "Open-Sans-Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #464646;
}

.popular-slider-item .button {
  width: 220px;
  margin-left: 6px;
}

.popular-item-properties thead {
  display: table-footer-group;
}
.popular-item-properties th {
  font-family: "Open-Sans-Light", Arial, sans-serif;
  text-decoration: none;
  color: #464646;
  font-size: 13px;
  font-weight: inherit;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.popular-item-properties td {
  font-family: "Gilroy-Light", Arial, sans-serif;
  text-decoration: none;
  color: #000000;
  font-size: 36px;
  font-weight: inherit;
  line-height: 48px;
  letter-spacing: 0.01em;
}

/*Index - Categories section*/

.categories-list {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-transform: none;

  margin: 0;
  padding: 0;

}


.categories-list a.vr::before {
  background-image: url("../img/popular-1.svg");
}
.categories-list a.selfie::before {
  background-image: url("../img/popular-2.svg");
  background-position: bottom;
}
.categories-list a.cameras::before {
  background-image: url("../img/popular-3.svg");
}
.categories-list a.bands::before {
  background-image: url("../img/popular-4.svg");
}
.categories-list a.smart-watches::before {
  background-image: url("../img/popular-5.svg");
}
.categories-list a.copters::before {
  background-image: url("../img/popular-6.svg");
}

.categories-list a:hover::before,
.categories-list a:focus::before,
.categories-list li:hover::before {
  background-color: rgba(240, 197, 46, 1);
}

.categories-list a:active,
.categories-list a:active::before {
  opacity: 0.3; /* в макете значение 30%, но на глаз выглядит как 50% */
}

/*Index - Advantages section*/

.advantages-slider li.delivery::after {
  background-image: url("../img/delivery.svg");
}
.advantages-slider li.warranty::after {
  background-image: url("../img/warranty.svg");
}
.advantages-slider li.credit::after {
  background-image: url("../img/credit.svg");
}

.advantages .button {
  outline: none;
}

.advantages-slider-item h3 {
  display: block;
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
  color: #000000;
}

/*Index - Brands section*/

.brand-logo {
  width: 260px;
  height: 100px;
  font-size: 0px;
  line-height: 0;
}

.brand-logo img {
  height: 0px;
}

.brand-logo::after {
  content: "";
  display: block;
  width: 260px;
  height: 100px;
  opacity: 0.2;
}
.brands .dji::after {
  background-image: url("../img/brands/gray/logo-1.jpg");
}
.brands .sp-gadgets::after {
  background-image: url("../img/brands/gray/logo-2.jpg");
}
.brands .gopro::after {
  background-image: url("../img/brands/gray/logo-3.jpg");
}
.brands .vive::after {
  background-image: url("../img/brands/gray/logo-4.jpg");
}

.brand-logo:hover::after {
  height: 0;
}

.brand-logo:hover img {
  height: 100px;
}

/*Index - About and Contacts sections*/

.about .about-title,
.contacts .contacts-title {
  display: inline-block;
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.01em;
  color: #000000;
}

.about p,
.contacts p  {
  font-family: "Open-Sans-Light", Arial, sans-serif;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0em;
  text-transform: none;
  color: #000000;
}

.about .logistics {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  padding: 0;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0em;
  text-transform: none;
  color: #000000;
}

.about .logistics li::before {
  content: "";
  display: inline-block;
  margin-right: 25px;
  width: 6px;
  height: 6px;
  border: 2px solid #d8d8d8;
  border-radius: 50%;
}

.contacts-map img {
  width: 560px;
  height: 222px;
}


/* Modal windows */

.modal-feedback {
  width: 960px;
  height: 533px;
  padding: 90px 100px;
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: none;
  color: #000000;
}

.modal-feedback input[type="text"],
.modal-feedback textarea {
  box-sizing: border-box;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.055);
  font-family: "Open-Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0em;
  color: #464646;
  border: none;
}

.modal-feedback input[type="text"] {
  height: 50px;
  width: 360px;
}

.modal-feedback textarea {
  padding: 20px;
  height: 156px;
  width: 760px;
}

.modal-feedback input[type="text"]:hover,
textarea:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.modal-feedback input[type="text"]:focus,
textarea:focus {
  background-color: rgba(1, 0, 0, 0);
  border: 3px solid #f7e195;
  padding-left: 17px;
  outline: none;
}

textarea:focus {
  padding-top: 17px;
}

.modal-close {
  position: absolute;
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50%;
  background-color: rgba(240, 197, 46, 0.5);
  outline: none;
}
.modal-close::before,
.modal-close::after {
  content: "";
  display: block;
  position: absolute;
  margin-left: 5px;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
}

.modal-close::before {
  transform: rotate(45deg);
}
.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover,
.modal-close:focus {
  background-color: rgba(240, 197, 46, 1);
}

.modal-close:active {
  background-color: rgba(240, 197, 46, 0.3);
}

/* Footer */
.site-footer {
  background-color: #464646;
  color: #ffffff;
  font-style: normal;
}

.footer-menu a {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #ffffff;
  text-transform: uppercase;
}

.site-footer a {
  color: #ffffff;
}
.footer-logo:hover,
.footer-logo:focus,
.footer-middle a:hover,
.footer-middle a:focus,
.footer-bottom a:hover,
.footer-bottom a:focus
 {
  opacity: 0.6;
}

.footer-logo:active,
.footer-middle a:active,
.footer-bottom a:active
{
  opacity: 0.3;
}

.footer-user-navigation a,
.footer-purchase-menu a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-navigation a::before,
.footer-purchase-menu a::before {
  opacity: 1;
}

.footer-user-navigation a:hover,
.footer-purchase-menu a:hover,
.footer-user-navigation a:focus,
.footer-purchase-menu a:focus {
  color: rgba(255, 255, 255, 1);
}

.footer-user-navigation a:hover::before,
.footer-purchase-menu a:hover::before,
.footer-user-navigation a:focus::before,
.footer-purchase-menu a:focus::before {
  opacity: 0.6;
}

.footer-user-navigation a::before,
.footer-purchase-menu a::before {
  opacity: 1;
}

.footer-user-navigation a:active,
.footer-purchase-menu a:active{
  color: rgba(255, 255, 255, 0.3);
}

.footer-user-navigation a:active::before,
.footer-purchase-menu a:active::before {
  opacity: 0.3;
}

.footer-social .social-button {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  opacity: 0.3;
}

.social-button.fb {
  background-image: url("../img/yellow/fb.svg");
}

.social-button.instagram {
  background-image: url("../img/yellow/instagram.svg");
}

.social-button.twitter {
  background-image: url("../img/yellow/twitter.svg");
}

.footer-social .social-button:hover,
.footer-social .social-button:focus {
  opacity: 0.6;
}

.footer-social .social-button:active {
  opacity: 0.1;
}


/******************Catalog.html******************/
.catalog-page h1 {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
  color: #000000;
}

.breadcrumbs,
.breadcrumbs a {
  font-family: "Open-Sans-Light", Arial, sans-serif;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

/*** Filters and Sort***/

.filters-title,
.sort-title {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.filter-group legend {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #000000;
}

.filter-group .price-filter-label,
.price-filter-input {
  font-family: "Gilroy-Light", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.2);

  background-color: transparent;
  border: none;
}

.filter-group label {
  font-family: "Open-Sans-Light", Arial, sans-serif;
  text-decoration: none;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: #000000;
}

.filter-group label:disabled {
  color: #a6a6a6;
}

.filter-group .checkbox-input,
.filter-group .radio-input {
  display: none;
}

.catalog-sort a {
  font-family: "Open-Sans", Arial, sans-serif;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0em;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-sort a:hover,
.catalog-sort a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort-current a,
.sort-current a:hover,
.catalog-sort a:active {
  color: rgba(0, 0, 0, 1);
}

.sort-order a::before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 10px;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.sort-order a:hover::before,
.sort-order a:focus::before {
  opacity: 0.4;
}

.sort-order a.order-current::before,
.sort-order a:active::before {
  opacity: 1;
}

.sort-order a.forward::before {
  background-image: url("../img/controls/icon-up-dir.svg");
}

.sort-order a.backward::before {
  background-image: url("../img/controls/icon-down-dir.svg");
}


/** Catalog Items **/

.catalog-item h3 a {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  letter-spacing: 0.01em;
  color: #000000;
}

.catalog-item .price {
  font-family: "Gilroy-Light", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  letter-spacing: 0.01em;
  color: #464646;
}

.catalog-item .to-compare {
  font-family: "Open-Sans-Light", Arial, sans-serif;
  text-decoration: none;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.5);
}

.catalog-item a.to-compare:hover,
.catalog-item a.to-compare:focus {
  color: rgba(0, 0, 0, 1);
}

.catalog-item a.to-compare:active {
  color: rgba(0, 0, 0, 0.2);
}


/** Pagination **/

.pagination {
  background-color: rgba(0, 0, 0, 0.08);
}
.pagination span {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.pagination span a:hover,
.pagination span a:focus {
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination span a:active {
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list,
.pagination-list a {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list a:hover,
.pagination-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-list a:active {
  color: rgba(0, 0, 0, 1);
}

.pagination-item-current {
  color: #000000;
}

/******************* СЕТКА *************************/
/******************* index *************************/

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

/* HEADER */

.site-navigation {
  margin-top: 40px;
  padding: 0 60px;
  height: 190px;
}

.header-logo {
  display: block;
  width: 162px;
  transform: translateY(-19px);
}

.header-top-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header-top-wrapper ul {
  margin: 0;
  padding: 0;
}

.site-navigation .search-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  transform: translateY(-10px);
}

.top-menu-block {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.user-navigation,
.purchase-menu {
  display: flex;
}

.user-navigation li {
  margin-right: 20px;
}

.purchase-menu .cart a,
.purchase-menu .compare a {
  margin-left: 40px;
}

.header-menu-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.header-menu.pages {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

.header-menu.pages li {
  padding-right: 35px;
}

.header-menu.pages li:last-child {
  flex-grow: 1;
  padding: 0;
  margin-right: -3px;
  text-align: right;
}

.header-menu .catalog-submenu {
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  margin-left: -60px;
  padding-top: 10px;
  min-height: 163px;
  width: 760px;

  background-color:#F7E296;
  z-index: 3;

  display: none;
}

.header-menu .catalog-submenu::before {
  content: '';
  position: absolute;
  display: block;
  width: 1160px;
  top: 0;
  bottom: 0;
  left: 0px;
  background-color:#F7E296;
}

.main-menu-catalog:hover + .catalog-submenu,
.main-menu-catalog:focus + .catalog-submenu,
.header-menu .catalog-submenu:hover,
.header-menu .catalog-submenu:focus-within {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
}

.catalog-submenu li {
  padding-top: 10px;
  padding-left: 20px;
  margin-right: 20px;
  width: 200px;
  z-index: 3;
}

/** MAIN **/

.main-page {
  padding-bottom: 85px;
}


/** SLIDER **/

.popular-slider,
.popular-slider ul {
  margin: 0;
  padding: 0;
}

ol.popular-slider {
  position: relative;
  background-image: linear-gradient(rgba(240, 197, 46, 0.5) 110px, transparent 110px);
  counter-reset: item;
}

li.popular-slider-item::before {
  counter-increment: item;
  content: "0" counter(item);
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 180px;
  line-height: 180px;
  letter-spacing: 0.01em;
  text-transform: none;
  color: rgba(255, 255, 255, 0);

  position: absolute;
  right: 45px;
  top: -15px
}

li.popular-slider-item.current::before {
  color: rgba(255, 255, 255, 1);
}

.main-page .popular-slider-item {
  display: flex;
}

.popular-slider-item:not(.current) * {
  display: none;
}

.popular-slider .slider-item-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.slider-item-photo .product-preview {
  margin: 0;
}

.popular-slider-item .slider-item-info {
  position: relative;
  flex-shrink: 0;
  box-sizing: border-box;
  width: 595px;
  padding: 0 60px 0 30px;
  padding-top: 35px;
}

.popular-slider-item .product-info {
  margin: 0;
  padding: 0;
}

.slider-item-info .slogan {
  display: block;
  margin-bottom: 20px;
  padding: 0 5px;
}

.slider-item-info .description {
  display: block;
  margin-bottom: 50px;
  padding: 0 5px;
}

.popular-item-properties {
  padding-top: 50px;
}

.popular-item-properties * {
  margin: 0;
  padding: 0;
  border: 0px;
}

.popular-item-properties th {
  margin: 0;
  padding: 0;
  padding: 6px 0px 0px 3px;
}

.popular-item-properties td {
  box-sizing: border-box;
}

.popular-item-properties td:nth-child(1) {
  width: 160px;
  padding-left: 2px;
}

.popular-item-properties td:nth-child(2) {
  width: 137px;
}

.popular-slider + .slider-controls {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding-right: 60px;
  transform: translateY(-160px);
}
.popular-slider + .slider-controls li {
  padding-right: 22px;
}
.popular-slider + .slider-controls .slider-control {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 50%;
}

.popular-slider + .slider-controls .current {
  background-image: radial-gradient(#FFFFFF 1px, #000000 2px, #000000 2px, #FFFFFF 3px);
}

section.main-page-popular {
  margin: 0;
  padding: 0;
  margin-bottom: 92px;
}

/** CATERORIES **/

.main-page .categories-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
}

.categories-list li {
  width: 160px;
}

.categories-list li::before {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
}

.categories-list a::before {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 160px;
  height: 160px;
  margin-top: -160px;
  margin-bottom: 34px;
  padding: 2px;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
}


/** Advantages **/

.advantages-slider {
  position: relative;
  margin: 0;
  padding: 0;
}
.main-page .advantages {
  position: relative;
  background-image: linear-gradient(transparent 100px, #E5E5E5 100px);
  min-height: 388px;
  margin-bottom: 93px;
}

.advantages .container {
  display: flex;
  justify-content: flex-start;
}

.advantages .slider-controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin: 0;
  padding: 0;
  padding-top: 85px;
  padding-bottom: 0px;
  width: 277px;
  min-height: 232px;
  border-right: 7px solid #000000;
}

.advantages .slider-controls li {
  margin: 0;
  padding: 0;
  height: 64px;
}

.advantages .slider-controls button {
  width: 160px;
}

.advantages .slider-controls .current button,
.advantages .slider-controls button:active {
  width: 277px;
  padding-left: 20px;
  text-align: left;
  background-color: #000000;
  color: #F7E184;
}
.advantages .slider-controls .current button::after,
.advantages .slider-controls button:active::after {
  background-color: #000000;
  left: -20px;
  top: -32px;
  width: 277px;
  height: 40px;
  transition-duration: 0s;
}

.advantages-slider {
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 100%;
  padding-left: 117px;
  padding-top: 73px;
}

.advantages-slider-item.current {
  margin: 0;
  padding: 0;
  display: block;
  min-height: 290px;
}

.advantages-slider-item:not(.current) {
  display: none;
}
.advantages-slider-item::after {
  content: "";
  display: block;
  position: absolute;
  right: 2px;
  top: 84px;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
}

.advantages-slider-item h3 {
  margin: 0;
  margin-bottom: 32px;
}

.advantages-slider-item p {
  width: 460px;
  margin: 0;
  padding: 0;
}


/** Brands **/

.brands .container ul {
  margin: 0;
  margin-bottom: 90px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


/** About and Contacts **/

.main-page .two-columns {
  display: flex;
  justify-content: space-between;
  align-items:flex-start;

  padding-top: 5px;
}

.main-page .about,
.main-page .contacts {
  margin: 0;
  padding: 0;
}

.about .about-title,
.contacts .contacts-title {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.about .about-title::before,
.contacts .contacts-title::before {
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  margin: 0;
  padding: 0;

  margin-bottom: 40px;
  background-color: #000000;
}

.about p,
.contacts p {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

/*About*/
.main-page .about {
  margin: 0;
  padding: 0;
  width: 475px;
}

.about .logistics {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  margin-bottom: 65px;
}

.about .logistics li {
  margin-bottom: 10px;
}

.about .button {
  width: 260px;
}


/*Contacts*/

.main-page .contacts {
  margin: 0;
  padding: 0;
  padding-left: 40px;
  width: 560px;
}

.contacts .contacts-map {
  padding-top: 10px;
  margin-bottom: 65px;
}

.contacts .button {
  width: 260px;
}


/*** Footer ***/

.site-footer a,
.site-footer section,
.site-footer h2,
.site-footer p {
  margin: 0;
  padding: 0;
}

.site-footer {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 323px;
}

.site-footer .footer-top-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 65px;
  margin-bottom: 20px;
}

.site-footer .footer-top-right,
.site-footer .footer-user-navigation,
.site-footer .footer-purchase-menu {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.site-footer .footer-user-navigation li {
  margin: 0;
  padding: 0;
  padding-left: 20px;
}

.footer-user-navigation .login-link a::before,
.footer-user-navigation .login-profile a::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 12px;
}
.footer-user-navigation .login-link a::before,
.footer-user-navigation .login-profile a::before {
  background-image: url('../img/yellow/user-yellow.svg');
}

.footer-purchase-menu li {
  margin: 0;
  padding: 0;
  padding-left: 40px;
}
.footer-purchase-menu li a::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
}
.footer-purchase-menu .compare a::before {
  background-image: url('../img/yellow/compare.svg');
  width: 10px;
  height: 10px;
}
.footer-purchase-menu .cart a::before {
  background-image: url('../img/yellow/cart.svg');
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-middle .address {
  order: 1;
  margin-bottom: 65px;
}

.footer-middle .phone {
  order: 3;
}

.footer-middle .footer-menu {
  order: 2;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  margin-right: 30px;
  display: flex;
  justify-content: space-around;
}

.footer-middle .footer-menu li {
  padding: 0 18px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-bottom .yellow-line {
  margin: 13px 0 0 0;
  padding: 0;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.footer-social {
  display: flex;
  justify-content: space-around;
}

.footer-social {
  margin: 0;
  padding: 0 70px 0 0;
}

.footer-social li {
  padding: 0 0 0 22px;
}


/******************* СЕТКА *************************/
/******************* catalog ***********************/

.catalog-page .catalog-page-title {
  margin: 0;
  padding: 32px 60px 0 60px;
}

.breadcrumbs {
  margin: 0;
  padding: 25px 60px;
  display: flex;
  margin-bottom: 20px;
}

.breadcrumbs li:not(.breadcrumbs-current)::after {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 2px 16px;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  transform: rotate(45deg);
}

.catalog-page .two-columns {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.catalog-page .left-column {
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
  flex-grow: 1;

  display: flex;
  justify-content: flex-end;

  /* background-image: linear-gradient(#DBDBDB 70px, #EEEEEE 71px ); */
  background-color: #EEEEEE;
}

.catalog-page .right-column {
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
  flex-grow: 1;

  /* background-image: linear-gradient(#EBEBEB 70px, transparent 71px); */
}

/* Filters */

.catalog-page .catalog-filters {
  margin: 0;
  padding: 0;
  padding-left: 80px;
  box-sizing: border-box;
  width: 348px;
  z-index: 1;
}

.catalog-page .filters-title {
  margin: 0;
  margin-bottom: 65px;
  padding: 25px 0px;
}

.catalog-filters .filter-group {
  position: relative;
  margin: 0 0 30px 0;
  padding: 15px 15px 0 0;
  border: 0;
}

.catalog-filters .filter-group legend {
  margin: 0;
  padding: 0;
}

.catalog-filters .filter-group legend::before {
  content: "";
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  width: 200px;
  height: 3px;
  background-color: #000000;
}

.filter-group ul {
  margin: 0;
  padding: 2px 0;
}


/*price*/

.range-bar {
  position: relative;
  margin: 20px 0 6px 0;
  padding: 0;
  height: 2px;
  width: 200px;
  background-image: linear-gradient(90deg, #91C92F 55%, #DBDBDB 55%);
}

.range-bar .range-point {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  top: -10px;

  background-image: radial-gradient(#ABABAB 2px, #FFFFFF 2px);
  border: 0;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);

  cursor: pointer;
  outline: none;
}

.range-bar .range-point:active,
.range-bar .range-point:focus {
  width: 22px;
  height: 22px;
  top: -11px;
  transform: translateX(-1px);

  background-image: radial-gradient(#ABABAB 2.2px, #FFFFFF 2.2px);
}

#price-from {  /*mapping range from -5 up to 175 pixels*/
  left: -5px;
}

#price-to { /*mapping range from 15 up to 195 pixels*/
  left: 107px;
}

.price-filter-input {
  margin: 0;
  padding: 0;
  width: 70px;
}


/*colors*/

.filter-group input[type="checkbox"] + label {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  cursor: pointer;
  outline: none;
}

.filter-group input[type=checkbox] + label::before {
  content: '';
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  width: 27px;
  height: 23px;
  background-image: url('../img/controls/checkbox-off.svg');
  background-repeat: no-repeat;
}

.filter-group input[type="checkbox"]:checked + label::before {
  background-image: url('../img/controls/checkbox-on.svg');
}



/*bluetooth*/

.filter-group input[type="radio"] + label {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  cursor: pointer;
  outline: none;
}

.filter-group input[type=radio] + label::before {
  content: '';
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  border: 4px solid #000000;
  border-radius: 50%;
}

.filter-group input[type="radio"]:checked + label::before {
  background-image: radial-gradient(#000000 4px, transparent 5px);
}

/********hover, focus and disabled********/

.filter-group input[type="checkbox"]:not(:disabled) + label:hover::before,
.filter-group input[type="radio"]:not(:disabled) + label:hover::before {
  opacity: 0.6;
}

.filter-group input[type="checkbox"]:not(:disabled) + label:focus::before,
.filter-group input[type="radio"]:not(:disabled) + label:focus::before {
  box-shadow: 0 0 2px 2px #F0C52E;
}

.filter-group input[type="checkbox"]:not(:disabled) + label:active::before {
  box-shadow: none;
  background-image: url('../img/controls/checkbox-on.svg');
}

.filter-group input[type="checkbox"]:not(:disabled):checked + label:active::before {
  box-shadow: none;
  background-image: url('../img/controls/checkbox-off.svg');
}

.filter-group input[type="radio"]:not(:disabled) + label:active::before {
  box-shadow: none;
  background-image: radial-gradient(#000000 4px, transparent 5px);
}

.filter-group input[type="radio"]:not(:disabled):checked + label:active::before {
  box-shadow: none;
  background-image: none;
}

.filter-group input[type="checkbox"]:disabled + label,
.filter-group input[type="radio"]:disabled + label {
  opacity: 0.25;
}



.filter-form .button {
  width: 200px;
  padding-top: 10px;
  outline: none;
}


/*************** Sort ***************/

.catalog-page .catalog-sort {
  margin: 0;
  padding: 0;
  padding-right:20px;
  box-sizing: border-box;
  width: 852px;
}

.catalog-sort {
  display: flex;
  position: relative;
}

.catalog-sort .sort-types {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items:  center;

  margin: 0;
  padding: 0;
  min-height: 70px;
  z-index: 1;
}

.catalog-sort::before {
  content: '';
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.08);
  top: 0;
  left: -1000px;
  right: -1000px;
  bottom: 0;
  z-index: 0;
}

.catalog-page .sort-title {
  margin: 0;
  padding: 24px 35px 24px 72px;
}

.catalog-sort .sort-types li {
  margin: 0;
  padding: 0 15px;
}

.catalog-sort .sort-order {
  justify-self: flex-end;
  width: 40px;

  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}


/*************** Catalog list **************/

.catalog-items .catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0;
  padding: 50px 0 0 72px;
  width: 832px;
}

.catalog-list .catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 0;
  width: 360px;
}

.catalog-list .catalog-item-title {
  order: 1;
  width: 255px;
  margin: 0;
  padding: 0;
  padding-top: 25px;
}

.catalog-item .hover-layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  width: 360px;
  height: 380px;
}

.catalog-item .hover-layer:hover::before {
  content: '';
  display: block;
  position: absolute;
  width: 360px;
  height: 380px;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.hover-layer .button {
  width: 200px;
  padding: 40px 0;
  opacity: 0;
}

.hover-layer .to-compare {
  opacity: 0;
}

.hover-layer:hover .button,
.hover-layer .button:focus,
.hover-layer:hover .to-compare,
.hover-layer .to-compare:focus {
  opacity: 1;
  z-index: 2;
}

.catalog-item .price {
  position: absolute;
  top: 410px;
  right: 0;
  max-width: 105px;
}

.mark-new .hover-layer::after {
  content: 'new';
  display: block;
  position: absolute;
  top: 29px;
  right: 27px;

  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;

  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 16px 7px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}


/*********pagination ********/

.catalog-page .pagination {
  margin: 8px 0 0 70px;
  padding: 0;
  width: 760px;
  min-height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*  По логике ссылки "Назад" и "Вперед" должны стилизоватья
    одинакого, но на макете все отступы разные,
    пока оставляю единообразно*/
.pagination .pagination-previous a,
.pagination .pagination-next a {
  display: block;
  margin: 0;
  box-sizing: border-box;
  padding: 25px 30px 20px 30px;
}

.pagination .pagination-list {
  margin: 0;
  padding: 0;
  flex-grow: 1;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pagination .pagination-list li {
  margin: 0;
  padding: 0 14px;
}


/**************** MODAL **********************/
/* modal-feedback */

.modal-feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 960px;
  height: 553px;
  z-index: 3;

  background-color: #FFFFFF;
  box-shadow: 0 10px 20px 0px rgba(4, 6, 6, 0.2);
}

.modal-feedback .two-columns {
  display: flex;
  padding: 90px 100px 0 100px;
}

.modal-feedback .two-columns + .form-item {
  padding: 0 100px;
}

.modal-feedback .form-item label {
  display: block;
  padding-bottom: 5px;
}

.modal-feedback .modal-close {
  position: absolute;
  top: 22px;
  right: 22px;
  outline: none;
}

.modal-feedback .button {
  width: 200px;
  margin-left: 100px;
  margin-top: 35px;
  outline: none;
}


/* modal-map */

.modal-map {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 960px;
  height: 559px;
  z-index: 3;

  background-color: #FFFFFF;
  box-shadow: 0 0px 20px -10px #000000;
}

.modal-map .modal-close {
  position: absolute;
  top: 22px;
  right: 22px;
  outline: none;
}


/*********/
